# Laravel
alias laravel='~/.config/composer/vendor/bin/laravel'

# Tanda
alias tanda-remote-ssh='ssh deployer@49.255.232.162 -p 11922'
alias tanda-sync='./useful_scripts/dev-server/start-sync.sh remote marvin'
alias tanda='cd ~/tanda/payaus'

# Custom rails command
alias rails-kill='kill -9 $(lsof -ti tcp:3000)'
alias ts='ssh tanda'

# Monkey patch oh-my-zsh alias
alias gp='ggpush'

# Sweevr
alias sw='cd ~/sweevr'

alias mux='tmuxinator'
