# Laravel
alias laravel='~/.config/composer/vendor/bin/laravel'

# Tanda
alias tanda-remote-ssh='ssh ruby@13.210.159.164'
alias tanda-sync='./useful_scripts/dev-server/sync-aws.sh stefanorueda'
alias tanda='cd ~/Documents/payaus'

# Custom rails command
alias rails-kill='kill -9 $(lsof -ti tcp:3000)'
alias ts='ssh tanda'

# Monkey patch oh-my-zsh alias
alias gp='ggpush'

# Sweevr
alias sw='cd ~/sweevr'

alias mux='tmuxinator'
alias vim='nvim'
